.Lcontainer{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
}

input{
  margin: 20px;
  padding: 7px;
}

h1{
  text-align: center;
  font-size: 70px;
  padding-bottom: 40px;
}
